<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="movies-horizontal">
        <div class="movie1">
            <h2>Mullholand drive</h2>
            <img src="/images/511WEZ3KZFL._SY445_.jpg" alt="">
            <p class="movie-d">Mulholland Drive (stylized as Mulholland Dr.) is a 2001 surrealist neo-noir[6][7] mystery film written and directed 
                by David Lynch and starring Naomi Watts, Laura Harring, Justin Theroux, Ann Miller, Mark Pellegrino, and Robert Forster. 
                It tells the story of an aspiring actress named Betty Elms (Watts), newly arrived in Los Angeles, who meets and befriends an amnesiac woman (Harring) recovering from a car accident. 
                The story follows several other vignettes and characters, including a Hollywood film director (Theroux).</p>
                <a href="/more-info">Click here for more info</a>
        </div>
        <div class="movie1" >
            <h2>Eraserhead</h2>
            <img src="/images/eraserhead.jpg" alt="">
            <p class="movie-d">Eraserhead is a 1977 American experimental body horror film written, directed, produced, and edited by David Lynch. 
                Lynch also created its score and sound design, which included pieces by a variety of other musicians. 
                Shot in black and white, it was Lynch's first feature-length effort following several short films. Starring Jack Nance, Charlotte Stewart, Jeanne Bates, Judith Anna Roberts, Laurel Near, and Jack Fisk, 
                it tells the story of a man who is left to care for his grossly deformed child in a desolate industrial landscape.</p>
                <a href="/more-info">Click here for more info</a>
        </div>
        <div class="movie1">
            <h2>Twin Peaks</h2>
            <img src="/images/twinpeaks1.jpg" alt="">
            <p class="movie-d">Twin Peaks is an American mystery-horror serial drama television series created by Mark Frost and David Lynch. 
                It premiered on ABC on April 8, 1990, and ran for two seasons until its cancellation in 1991. 
                In the years following its release, the show gained a devoted cult following and has been referenced in a wide variety
                 of media. Twin Peaks is often listed among the greatest television series of all time, and has received 
                 universal acclaim from critics and audiences. It is considered a landmark turning point in television drama.</p>
                 <a href="/more-info">Click here for more info</a>
                </div>
    </div>
</body>
</html>